*.project
.settings
.classpath
.myeclipse
.externalToolBuilders
*.class
*.~sql
*.bak
*.xlsx
*.xls
*.csv

/data

/conf


/src/com/ctsi/


/WebRoot/WEB-INF/classes
/WebRoot/WEB-INF/tmp
/WebRoot/WEB-INF/work

/WebRoot/nos/

/WebRoot/META-INF

/GIS

/bin

/dist/*.jar

/test/target
/test/.project
/test/.classpath
/test/report

/toolib/